body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h2 {
    color: rgba(0, 0, 0, 0.541176);
    font-size: 28px;
}
a {
    color: cadetblue;
    text-decoration: none;
}
.banner {
    background-image: url(/assets/img/banner.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
}
.menu {
    background-color: cadetblue;
}
