header{
    background-color: #2a3f54;
    color: #e7e7e7;
}

nav{
    background-color: #ededed;
    color: #2a3f54;
    min-height: 400px;
}

nav a:link, nav a:visited, nav a:hover, nav a:active{
    text-decoration: none;
    color: #2a3f54;
}

section{
    color: #2a3f54;
    background-color: #f7f7f7;
}

footer{
    background-color: #2a3f54;
    color: #f7f7f7;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}