body {
    background-color: aquamarine;
}
form{
    background-color: aliceblue;
    border: 1px black solid;
}
#operacao{
    width: 60px;
    margin-left: 20px;
}
#resultado{
    border: 1px solid black;
    text-align: center;
    background-color: aliceblue;
    font-size: 30px;
    padding: 2px;
}
.divNumero1{
    width: 90px;
}
.divNumero2{
    width: 90px;
}