/* CONFIGURAÇÕES GERAIS */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/* FOFURIZANDO O INDEX */
footer{
    font-family: Arial, Helvetica, sans-serif;
}
.logoPrincipal{
    font-size: 60px;
    font-family: Impact,fantasy;
}
.logoSubtitulo{
    font-size: 25px;
    font-family: Impact,fantasy;
}
.icons{
    font-size: 20px;
}
/* FOFURIZANDO O HOME */
h2{
    font-size: 25px;
}
img{
    max-width: 120px;
    max-height: 120px;
}
/* FOFURIZANDO O SOBRE */
.h1Sobre{
    font-size: 20px;
}

/* FOFURIZANDO O PRODUTOS */
.h1Produtos{
    font-size: 20px;
}

/* FOFURIZANDO O CONTATO */
.h1Contato{
    font-size: 20px;
}
