body{
    background-color: yellow;
}
form{
    border: solid 1px black;
    background-color: aliceblue;
}
.divQuantidade{
    width: 100px;
}
.divValor{
    width: 100px;
}
#valorConta{
    background-color: aliceblue;
}
#resultado{
    text-align: center;
    font-size: 20px;
    background-color: aliceblue;
    padding: 5px;
}