/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #ffffff;
}
body{
    background-color: #e2e2e2;
}
table, td, th {
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse;
    padding: 7px;
}
th {
    color: darkgray;
    font-weight:normal ;
    font-size: 14px;
    text-align: center;
}
td {
    font-size: 14px;
    text-align: left;
    border-bottom: 0px;
}
.tudo{
    font-family: Arial, Helvetica, sans-serif;
}
.linha{
    clear: both;
}
/*CABEÇALHO*/
#cabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 20px 50px 20px 30px;
    margin-bottom: 5px;
}
#h1TituloCabecalho{
    color: #fff;
    font-size: 16px;
    float: left;
    width: 100%;
}
.divMenu {
    padding-top: 8%;
    width: 100%;
    clear: both;
    padding-left: 15%;
    padding-right: 20%;
}
.itemMenu {
    float: left;
    color: #ffffff;
    text-align: center;
    width: 14%;
    font-size: 12px;
}
.itemMenu:hover{
    text-decoration: underline;
    background-color: #355388;
} 
/*PROXIMOS JOGOS*/
span {
    padding-left: 23px;
}
h2 {
    padding: 10px 0px 5px 7px;
}
h5 {
    float: right;
    padding: 2px 7px;
    font-size: small;
}
#divJogos{
    width: 60%;
}
#tabelaJogos{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.tdTableJogos{
    padding: 10px;
}
.tablejogo, #tablejogo {
    width: 100%;
}
.tdClube {
    float: left;
}
.imgClube{
    width: 20px;
    height: 20px;
}




