body{
    max-width: 60%;
    border: solid black 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#nome-cabeca{
    font-style: inherit;
    border: solid black 1px;
    background-color: rgb(189, 233, 31);
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#foto-perfil{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: solid 1px black;
    max-width:  100px; ;
    max-height: 200px;
    float: left;
}
#endereço{
    color: rgb(189, 233, 31);
    text-align: left;
    display: flex;
}
#info-pessoais{
    color: gray;
    
}
#objetivo{
    text-align: center;
    
    
    
}
#formacao{
    text-align: center;
}
