body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    border: 1px solid black;
    background-color: aliceblue;
}
.idade{
    font-size: 20px;
}
#mostrarIdades{
    border: 1px solid black;
    background-color: aliceblue;
    font-size: 20px;
}