#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Container do Entrevero */
.entrevero-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Layout do Entrevero */
.entrevero-content {
  display: flex;
  justify-content: space-between;
}

/* Formulário e Lista de Participantes */
.form-participant-container {
  display: flex;
  justify-content: space-between;
}

/* Container do Formulário */
.form-container {
  flex: 1; 
  margin-right: 20px;
  padding: 20px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  color: #333;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="url"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.form-container input[type="checkbox"] {
  margin-right: 10px;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #45a049;
}

/* Lista de Participantes */
.participant-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.card img {
  border-radius: 50%;
  margin-right: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .entrevero-content {
    flex-direction: column; 
  }
  .form-participant-container {
    flex-direction: column; 
  }
  .form-container,
  .participant-list-container {
    margin-right: 0; 
  }
}
