body{
    background-color: burlywood;
}
form{
    background-color: aliceblue;
    border: 1px solid black;
}
.numeros{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#maiorNumero{
    background-color: aliceblue;
    text-align: center;
    font-size: 20px;    
}